@font-face {
    font-family: 'GT-Walsheim-Regular';
    src:
      url('https://dayaraaj.github.io/GT-Walsheim-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GT-Walsheim-Medium';
    src:
      url('https://dayaraaj.github.io/GT-Walsheim-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GT-Walsheim-Light';
    src:
      url('https://dayaraaj.github.io/GT-Walsheim-Light.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GT-Walsheim-Bold';
    src:
      url('https://dayaraaj.github.io/GT-Walsheim-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GT-Walsheim-Black';
    src:
      url('https://dayaraaj.github.io/GT-Walsheim-Black.woff2') format('woff2');
  }